* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.App {
    width: 190px;
    margin: 0 auto;
    padding: 5px 8px;
}

.App-header .title {
    margin-bottom: 0;
    font-size: 18px;
}

.App-header .desc {
    margin: 5px 0;
    font-size: 12px;
}

.App-link {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
}

.popup .App-body {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.App-body fieldset {
    padding: 5px 8px;
}

.App-body fieldset .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.App-body fieldset .item textarea {
    padding: 5px;
    width: 140px;
}

/*开关*/
.codebox-offscreen {
    display: none;
}

.codebox-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: all 0.3s;
}

.codebox-switch::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

input[type="checkbox"]:checked + .codebox-switch::after {
    transform: translateX(20px);
}

input[type="checkbox"]:checked + .codebox-switch {
    background-color: #7983ff;
}

.item.download {
    cursor: pointer;
}

.item.code {
    cursor: pointer;
    height: 20px;
}

.item.code .codeTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 105px;
}